@import "variables";

.about-us {
  margin-top: $marginTopBetweenBlocks;
}

.about-row {
  display: flex;
  column-gap: 10px;
}

.about-row__text {
  max-width: 597px;
  height: 650px;
}

h1 {
  font-size: 124px;
  font-weight: 800;
  line-height: 140px;
  margin-bottom: 30px;
}

p {
  color: $mainLighterColor;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 60px;
  max-width: 530px;
}

.about-row__app {
  border-radius: 126px;
  padding: 20px 40px;
  background: $mainDarkColor;
  color: white;
  text-transform: uppercase;
}

.about-row__buttons {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.about-row__link {
  text-transform: uppercase;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.about-row__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 121px;
  height: 1px;
  background: $mainDarkColor;
}

.about-row__picture {
  display: flex;
  position: relative;
}

.about-row__stars {
  position: absolute;
  width: 280px;
  height: 140px;
  border-radius: 24px;
  background: #fff;
  bottom: 150px;
  left: 14px;
  padding: 20px 24px;
}

.about-row__stars p {
  color: $mainLighterColor;
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 12px;
}
