$font: "Jost", sans-serif;
$desktopWidth: 1240px;
$marginTopBetweenBlocks: 80px;
$mainDarkColor: #1b1b1d;
$mainLighterColor: #64646a;
$titlesFontSize: 64px;
$titlesFontWeight: 800;
$titlesLineHeight: 70px;
$subTitlesFontSize: 24px;
$subTitlesFontWeight: 400;
